<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary pull-right" style="margin-left: 10px" type="button" href="/#/records/new">Add Record</a>
        <input type="text" class="form-control pull-right searchbox" placeholder="Search" ng-model="vm.recordFilter">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>FQDN</th>
                    <th>Owner</th>
                    <th class="one-pix">Protocol</th>
                    <th class="one-pix">Blacklisted</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in vm.records | filter: vm.recordFilter | orderBy: 'record.fqdn'">
                    <td><a ng-href="/#/records/{{record.id}}">{{record.fqdn}}</a></td>
                    <td>{{record.owner.email}}</td>
                    <td>{{record.handler_protocol}}</td>
                    <td>{{record.blacklist}}</td>
                    <td><span am-time-ago="record.created_at" am-preprocess="unix"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
