<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary pull-right" style="margin-left: 10px" type="button" href="/#/users/new">Add User</a>
        <input type="text" class="form-control pull-right searchbox" placeholder="Search" ng-model="vm.userFilter">
        <table class="table table-bordered table-hover">
            <thead>
                <th>Username</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users | filter: vm.userFilter">
                    <td><a href="/#/users/{{user.id}}">{{user.email}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
